.classpath
.project
.settings
bin
build
target
*.iml
*.ipr
.idea
node_modules/
soapui-errors.log
soapui.log
global-groovy.log

dist
elm-stuff

.DS_Store
node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

jdbc-disabled

out
.factorypath
.vscode
.gradle
